/* 1800 */
@media screen and (max-width: 1800px) {
    .hero_con .rocket { left: 0; }
    .hero_con .worm { right: 0; }
    
}

/* 1400 */
@media screen and (max-width: 1400px) {
    .intro_con img {min-height: 100vh; object-fit: cover;}
    .intro_scene_con img { min-height: 100vh; object-fit: cover;}
    .bottom1_info h2 { font-size: 200px; }
    .timeline_info p { font-size: 10px; }
    .timeline_info .text_2022 { left: -75px; }
    .timeline_info .text_2024 {left: -190px;}
    .timeline_info .text_2025 {left: -80px;}

}

/* 1010 */
@media screen and (max-width: 1010px) {
    .hero_info h1 {font-size: 100px;}
    .hero_con .rocket { left: 0; width: 25%;}
    .hero_con .worm { right: 0; width: 25%;}

    .bottom2_con {flex-direction: column; gap: 100px;}
    
    .maintained_websites_con h2 {font-size: 42px;}
    .maintained_websites_con ul, .personal_project_con ul {margin-left: -25px;}
    .terminal_icon {display: none;}
    .personal_project_con h2 {font-size: 42px;}
    .technology_stack_con h2 {font-size: 42px;}
    .technology_stack_con .arrow_down {position: static; margin-top: 50px;}

    #bottom3 { margin-top: 200px; }
    .bottom3_info h2 {font-size: 42px;}
    .bottom3_con svg { max-width: 400px; }

    .timeline_info .text_2022 { top: 129px; left: -30px;}
    .timeline_info .text_2024 { top: 395px; left: -120px;}
    .timeline_info .text_2025 { top: 687px; left: -20px; }
    .timeline_info p { mix-blend-mode: difference; text-shadow: -1px 1px 2px var(--thiColor); }

    .contact_info_con .social_media_con {flex-direction: column;}
}

/* 800 */
@media screen and (max-width: 800px) {
    .pin_wheel_con img {width: 75px;}
    .bottom3_con svg { max-width: 250px; }
    .timeline_info .text_2022 { top: 82px; left: 5px; }
    .timeline_info .text_2024 { top: 249px; left: -55px; }
    .timeline_info .text_2025 { top: 437px; left: 10px; }
    .timeline_info p { font-size: 8px; }

    #main {margin-top: 1100px;}

    .maintained_websites_con ul { grid-template-columns: repeat(2,1fr); } 

    .personal_project_con ul { grid-template-columns: repeat(2,1fr); }

    .technology_stack_con ul {flex-wrap: wrap;}
    /* .technology_stack_con ul li { width: 26%; } */
    
}

/* 600 */
@media screen and (max-width: 600px) {
    .hero_info h1 {font-size: 72px;}
    .hero_cta { justify-content: center; flex-direction: column; align-items: center; }

    .bottom1_info h2 {font-size: 100px;}

    .maintained_websites_con ul, .personal_project_con ul, .technology_stack_con ul { display: flex; flex-wrap: wrap; justify-content: center; flex-direction: column; align-items: center;} 
    .maintained_websites_con ul li, .personal_project_con ul li {width: 100%; max-width: 200px;}
    
    

    .timeline_info .text_2025 { top: 440px; left: -45px; width: 100px; }
    .timeline_info .text_2024 { top: 250px; left: -75px; }
    .timeline_info .text_2022 { top: 80px; left: -45px; width: 100px; }
    .timeline_info p { font-size: 6px; }

    #footer { margin-top: 100px; }
  
}